body
{
    text-align: center;
    background: url(Gradient_bg3.png);object-fit: cover;
	font-family: 'Varela Round', sans-serif;
}



.login_div1 , .login_div2
{
	background: white;
	padding: 10px;
	float: none;
	border-radius: 15px;
    box-shadow: 20px 20px 10px rgba(128, 128, 128, 0.094);
}

.num_div1 , .num_div2 {
	background: white;
	padding: 20px;
	float: none;
	border-radius: 15px;
    box-shadow: 20px 20px 10px rgba(128, 128, 128, 0.094);
}



#player1_input::placeholder, #player2_input::placeholder, #answer_input::placeholder
{
	color: rgba(135, 135, 135, 0.651);
}


#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #7209B7;
padding: 10px;
float: none;
text-align: left;
box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.094);
}

label
{
	text-align: left;
    font-weight: 100;
}

h1{
    color: white;
    font-size: 60px;
}

.btn-lg {
    background: rgba(0, 0, 0, 0)!important;
    border-color: black !important;
    color: black !important;
    border-width: 3px;
}


.btn btn-primary, .btn-lg:hover {
    background: black!important;
    cursor: pointer; 
    color: white !important;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.094);
}

#login, #quiz-game {
    background-color: aliceblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.div-header, .turn-type, .question, .player_name {
    background-image: linear-gradient(to right, #7209B7, #f72584c5, #F72585);
    background-size: 130%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
 
}

.btn btn-info, .btn-sm {
    background: #7209B7 !important;
    border-color: #7209B7;
    color: white !important;
    text-align: center, center !important;
}


.btn btn-info:hover, .btn-sm:hover {
    background: #7209B7 !important;
    border-color: #7209B7;
    color: white !important;
    text-align: center, center !important;
}

.btn btn-info, .btn-md {
    background: #7209B7 !important;
    border-color: #7209B7;
    color: white !important;
    text-align: center, center !important;
}

.btn btn-info:hover, .btn-md:hover {
    background: #44046b !important;
    border-color: #44046b;
    color: white !important;
    text-align: center, center !important;
}

.question-elements {
    display: block;
    text-align: left, top;
}

.player_name_main {
    color: whitesmoke;
}

.player_name {
    font-weight: bolder;
}


.player_score {
    color: black;
}

#player_scores {
    background-color: white;
    border-radius: 10px;
    border-top: solid #7209B7 !important;
    border-width: 10px !important;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.094);
    padding: 9px;
    text-align: left;
}
